/* Adding here the purple color, since in bootstrap wasnt rlly working for the needed color */
.overwrite{
    background-color: #7510F7;
}

.logo{
  max-width: 10rem;
  max-height: 5rem;}
.language-translate{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  font-family: Inter,Helvetica;
  font-size: 16px;
  font-weight: 700;
}
