<footer class="d-flex align-items-center flex-column text-white overwrite">
    <a class="pt-4">
      <img src="assets/logo1.jpeg" alt='{{"FOOTER.MAIN_LOGO" | translate}}'>
    </a>
    <p class="pt-3">{{"FOOTER.QUOTE" | translate}}</p>
    <div>
      <a href="https://www.linkedin.com/in/halabichristian">
        <img class="link mx-2" src="assets/linkedin.jpeg" alt='{{"FOOTER.LINKEDIN" | translate}}'>
      </a>
      <a href="https://github.com/BackEnergy">
        <img class="link mx-2" src="assets/GithubLogo.jpeg" alt='{{"FOOTER.GITHUB" | translate}}'>
      </a>
    </div>
</footer>
