<footer class="d-flex align-items-center flex-column text-white overwrite">
    <a class="pt-4"> 
      <img src="assets/logo1.jpeg" alt="logo">
    </a>
    <p class="pt-3">Living, learning, & leveling up <br> one day at a time.</p>
    <div>
      <a href="https://www.linkedin.com/in/halabichristian">
        <img class="link mx-2" src="assets/linkedin.jpeg" alt="linkedin icon">
      </a>
      <a href="https://github.com/BackEnergy">
        <img class="link mx-2" src="assets/GithubLogo.jpeg" alt="Github icon">
      </a>
    </div>
</footer>