<section class="d-flex align-items-center flex-column">
    <h1 class="text-center mt-2">{{"HEADER.TITLE" | translate}}</h1>
    <h2 class="text-center">{{"HEADER.SUBTITLE" | translate}}</h2>
    <img id="googly" class="my-4" src="assets/avatar.svg" alt='{{"HEADER.AVATAR" | translate}}'>
    <!-- <div id="eyes">
        <img src="assets/eyebackground.png" style="top: 200px; left:13px">
        <img class="eye" src="assets/eye.png" style="top: 200px; left:13px">
        <img src="assets/eyebackground.png" style="top: 200px; right: 12px">
        <img class="eye" src="assets/eye.png" style="top: 200px; right: 12px">
    </div> -->
    <img class="w-50 mt-5" src="assets/hero-devices.svg" alt='{{"HEADER.PC_IMAGE" | translate}}'>
</section>
