<section class="pb-4 overwrite">
    <h2 class="d-flex align-items-center flex-column pt-3">{{"PROJECTS.TITLE" | translate}}</h2>
    <ul class="d-flex justify-content-around pt-3">
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ1" | translate}}</p>
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ2" | translate}}</p>
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ3" | translate}}</p>
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ4" | translate}}</p>
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ5" | translate}}</p>
      <p class="p-4 border border-dark bg-white">{{"PROJECTS.PROJ6" | translate}}</p>
    </ul>   
</section>
