<section class="pb-4 overwrite">
    <h2 class="d-flex align-items-center flex-column pt-3">Here are a few design projects I've worked on recently.</h2>
    <ul class="d-flex justify-content-around pt-3">
      <p class="p-4 border border-dark bg-white">First project</p>
      <p class="p-4 border border-dark bg-white">Second project</p>
      <p class="p-4 border border-dark bg-white">Third project</p>
      <p class="p-4 border border-dark bg-white">Fourth project</p>
      <p class="p-4 border border-dark bg-white">Fith project</p>
      <p class="p-4 border border-dark bg-white">six project</p>
    </ul>   
</section>