<section class="design position-relative bottom-0 start-50 translate-middle-x d-inline-flex p-2 bd-highlight d-flex align-items-center flex-column">
  <img class="my-2" src="assets/frontend.svg" alt='{{"SKILLS.WEB_LOGO" | translate}}'>
  <p><b>{{"SKILLS.TITLE" | translate}}</b></p>
  <p class="text-center">{{"SKILLS.INFORMATION"| translate}}</p>
  <p>{{"SKILLS.LANGUAGES" | translate}}</p>
  <p>{{"SKILLS.PROGRAMMING" | translate}}</p>
  <ul class="bullet ps-2">
    <li class="d-flex justify-content-center">{{"SKILLS.IDE1" | translate}}</li>
    <li class="d-flex justify-content-center">{{"SKILLS.IDE2" | translate}}</li>
    <li class="d-flex justify-content-center">{{"SKILLS.IDE3" | translate}}</li>
    <li class="d-flex justify-content-center">{{"SKILLS.IDE4" | translate}}</li>
    <li class="d-flex justify-content-center">{{"SKILLS.IDE5" | translate}}</li>
    <li class="d-flex justify-content-center">{{"SKILLS.IDE6" | translate}}</li>
  </ul>
</section>
