<section class="d-flex flex-wrap justify-content-center">
  <div class="design p-2 bd-highlight d-inline-flex align-items-center flex-column border-0">
    <img class="my-5" src="assets/frontend.svg" alt='{{"SKILLS.WEB_LOGO" | translate}}'>
    <p class="fs-4 fw-bold pb-1"><b>{{"SKILLS2.TITLE" | translate}}</b></p>
    <p class="text-center pb-4 w-75">{{"SKILLS2.INFORMATION"| translate}}</p>
    <p style="color: #5E5DF0;" class="text-center">{{"SKILLS2.LANGUAGES" | translate}}</p>
    <p class="text-center">{{"SKILLS2.PROGRAMMING" | translate}}</p>
    <p class="pt-4" style="color: #5E5DF0;">Dev Tools:</p>
    <div class="bullet d-flex flex-column justify-content-center mb-5">
      <li class="text-center p-1">{{"SKILLS2.IDE1" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS2.IDE2" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS2.IDE3" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS2.IDE4" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS2.IDE5" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS2.IDE6" | translate}}</li>
    </div>
  </div>
  <div class="design p-2 bd-highlight d-inline-flex align-items-center flex-column border-0">
    <img class="my-5" src="assets/frontend.svg" alt='{{"SKILLS.WEB_LOGO" | translate}}'>
    <p class="fs-4 fw-bold pb-1 text-center"><b>{{"SKILLS.TITLE" | translate}}</b></p>
    <p class="text-center pb-4 w-75">{{"SKILLS.INFORMATION"| translate}}</p>
    <p style="color: #5E5DF0;" class="text-center">{{"SKILLS.LANGUAGES" | translate}}</p>
    <p class="text-center">{{"SKILLS.PROGRAMMING" | translate}}</p>
    <p class="pt-4" style="color: #5E5DF0;">Dev Tools:</p>
    <div class="bullet d-flex flex-column justify-content-center">
      <li class="text-center p-1">{{"SKILLS.IDE1" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS.IDE2" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS.IDE3" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS.IDE4" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS.IDE5" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS.IDE6" | translate}}</li>
    </div>
  </div>
  <div class="design p-2 bd-highlight d-inline-flex align-items-center flex-column border-0">
    <img class="my-5" src="assets/frontend.svg" alt='{{"SKILLS.WEB_LOGO" | translate}}'>
    <p class="fs-4 fw-bold pb-1"><b>{{"SKILLS3.TITLE" | translate}}</b></p>
    <p class="text-center pb-4 w-75">{{"SKILLS3.INFORMATION"| translate}}</p>
    <p style="color: #5E5DF0;" class="text-center">{{"SKILLS3.LANGUAGES" | translate}}</p>
    <p class="text-center">{{"SKILLS3.PROGRAMMING" | translate}}</p>
    <p class="pt-4" style="color: #5E5DF0;">Dev Tools:</p>
    <div class="bullet d-flex flex-column justify-content-center">
      <li class="text-center p-1">{{"SKILLS3.IDE1" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS3.IDE2" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS3.IDE3" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS3.IDE4" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS3.IDE5" | translate}}</li>
      <li class="text-center p-1">{{"SKILLS3.IDE6" | translate}}</li>
    </div>
  </div>

</section>
