<section class="d-flex align-items-center flex-column border border-dark rounded-2 border-fix">
    <img class="my-2" src="assets/frontend.svg" alt="Front-end Logo">
    <p><b>Front-end Developer</b></p>
    <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
    <p>Languages I speak:</p>
    <p >HTML, CSS, JavaScript, C/C++, Python</p>
    <ul class="bullet ps-2">
      <li>Atom</li>
      <li>VS Code</li>
      <li>PyCharm</li>
      <li>Git</li>
      <li>GitHub</li>
      <li>Terminal</li>
    </ul>
</section>