<!-- <section>
  <h3>FROM HERE ON, EVERYTHING SHOWN CAN ONLY BE SEEN WELL ON PC SINCE I AM TOO LAZY TO ACTUALLY MAKE IT COMPATIBLE ON MOBILE</h3>
  <main>
    <img  id="anchor" src="assets/rick.png">
    <div id="eyes">
      <img class="eye" src="assets/eye.png" style="bottom: 75px; right: 145px;">
      <img class="eye" src="assets/eye.png" style="bottom: 85px; right: 95px;">
      <img class="eye" src="assets/eye.png" style="bottom: 50px; left: 60px;">
      <img class="eye" src="assets/eye.png" style="bottom: 55px; left: 140px;">
    </div>
  </main>
</section> -->
